* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 16px;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

h1, h2, h3, p {
	margin-bottom: 16px;
}

#sec-1 {
	background: 
		linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
		url('../images/0.png') no-repeat center center;
	padding: 50px 0;
	color: #fff;
}

#sec-1 h1 {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 400;
}

#sec-1 p {
	text-align: center;
	font-size: 0.9rem;
}

#sec-1 a {
	text-decoration: none;
	color: #FFF;
	border:thin solid #666665;
	background-color: #333;
	display: block;
	padding: 10px;
	margin: 25px auto 0;
	text-align: center;
	transition: all 0.5s ease;
	width: 80%;
}


#sec-1 a:hover {
	background-color: #FFF;
	color: #666665;
}

#sec-2 {
	background-color: #E9E9E9;
	padding: 50px 0;
	color: #000;
	text-align: center;
}


#sec-3 {
	background-color: #333;
	padding: 50px 0;
	color: #333;
	text-align: center;
}

#sec-3 article {
	background-color: #fff;
	padding: 1px 1px 40px;
	margin-bottom: 15px;	
}

#sec-3 h2{
	margin: 20px 0;
	font-size: 1.3rem;
	font-weight: 600;
}

#sec-3 img {
	max-width: 100%;
	height: auto;
}

#sec-3 p {
	margin: 16px 10px;
} 

#sec-4 {
	background-color: #fff;
	padding: 50px 0;
	color: #000;
	text-align: center;
}

#sec-5 .container{
	width: 100%;
}

#sec-5 .container:first-of-type {
	background-color: #278FD3;
	color: #fff;
	padding: 30px 15px;
	text-align: center;
}

#sec-5 .container:last-of-type {
	background-color: #333;
	color: #fff;
	padding: 30px 15px;
	text-align: center;
}


















/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
	
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
	.container {
		max-width: 720px;
	}
	
	#sec-1 a {
		width: 150px;
	}
	
	#sec-2 p {
		column-count: 2;
		text-align: justify;
		column-gap: 40px;
	}
	
	#sec-5 {
		display: flex;
	}
	
	#sec-5 .container:first-of-type {
		display: flex;
		justify-content: flex-end;
	}
	
	#sec-5 aside {
		width: 79%;
	}
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.container {
		max-width: 930px;
	}
	#sec-3 .container {
		display: flex;
		justify-content: space-between;
	}
	
	#sec-3 article {
		width: 32%;
	}
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
	.container {
		max-width: 1140px;
	}
}
